<div class="wrapper row3">
  <hr>
  <h1 align="center">페이지를 찾을 수 없습니다</h1>
  <hr>
  <%
  console.log("-----------에러에러!-----------");
  console.log(message);
  console.log(error.status);
  console.log(error.stack);
  console.log("-------------------------------");
  %>
</div>
