<html>
<div align="center">
  <h1>비밀번호 찾기</h1>
  <h2>사랑과 행복이 넘치는 전주신상교회입니다</h2>

  <hr class="line"></hr>

  <form name="find_pw_form" method="post">
     <table align="center" style="padding:5px 0 5px 0; ">
        <tr>
           <th>ID</th>
           <td><input type="text" name="myid"></td>
        </tr>
        <tr>
           <th>이름</th>
           <td><input type="text" name="name"></td>
        </tr>
      </table>
  </form>

  <div class="btn">
    <input type="submit" onclick="button_event();" value="비밀번호 찾기">
    <script type="text/javascript">
      function button_event(){
        if (find_pw_form.myid.value == "") {
          alert("아이디를 입력하지 않았습니다.");
          find_pw_form.myid.focus()
          return false;
        }else if(find_pw_form.name.value==""){
          alert("이름을 입력하지 않았습니다.");
          find_pw_form.name.focus();
          return false;
        }
      }
    </script>
    <input type="button" onclick = "location.href = 'find_id.html'" value="아이디 찾기">
    <input type="button" onclick = "location.href = 'sign_in.html'" value="로그인">
  </div>
  <hr class="line"></hr>
</div>
</html>
