<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="The Overflowing church website's main page" />
  <meta name="author" content="unikys@gmail.com" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" title="style" />
  <link rel="stylesheet" type="text/css" href="/css/sign.css" title="style" />
  <title>전주신상교회</title>
</head>

<body class="fullpage">
  <div class="wrap">
    <% include ./header.ejs %>

      <div align="center">
        <h1>회원가입</h1>
        <h2>환영합니다</h2>

        <hr class="line"></hr>

        <form name="sign_up_form" method="post">
          <table align="center" style="padding:5px 0 5px 0; ">
            <tr>
              <th>이름</th>
              <td><input type="text" name="myname"></td>
            </tr>
            <tr>
              <th>ID</th>
              <td><input type="text" name="myid">
                <p style="font-size:8px">아이디를 4~12자까지 입력해주세요.</p>
              </td>
            </tr>
            <tr>
              <th>비밀번호</th>
              <td><input type="password" name="pw">
                <p style="font-size:8px">비밀번호를 4~12자까지 입력해주세요.</p>
              </td>
            </tr>
            <tr>
              <th>비밀번호확인</th>
              <td><input type="password" name="pw_check"></td>
            </tr>
            <tr>
              <!-- TODO 연월따라서 최대날짜-->
              <th>생년월일</th>
              <td>
                <select name="year">
                  <option value="2017">2017</option>
                  <option value="1900">1900</option>
                </select>년
                <select name="month">
                  <option value="1">1</option>
                  <option value="12">12</option>
                </select>월
                <select name="date">
                  <option value="1">1</option>
                  <option value="31">31</option>
                </select>일
              </td>
            </tr>
            <tr>
              <th>전화번호</th>
              <td><input type="text" name="fst_ph">-<input type="text" name="mid_ph">-<input type="text" name="last_ph"></td>
            </tr>
          </table>
        </form>

        <div class="btn">
          <input type="submit" onclick="button_event();" value="회원가입">
          <script type="text/javascript">
            function button_event() {
              if (sign_up_form.myname.value == "") {
                alert("이름를 입력하세요.");
                sign_up_form.myname.focus();
                return false;
              } else if (sign_up_form.myid.value == "") {
                alert("아이디를 입력하세요.");
                sign_up_form.myid.focus();
                return false;
              } else if (sign_up_form.pw.value == "") {
                alert("비밀번호를 입력하세요.");
                sign_up_form.pw.focus();
                return false;
              } else if (sign_up_form.pw_check.value == "") {
                alert("비밀번호 확인란을 입력해주세요.");
                sign_up_form.pw_check.focus();
                return false;
              } else if (sign_up_form.fst_ph.value == "" || sign_up_form.mid_ph.value == "" || sign_up_form.last_ph.value == "") {
                alert("전화번호를 입력하세요.");
                sign_up_form.fst_ph.focus();
                return false;
              } else if (sign_up_form.pw.value != sign_up_form.pw_check.value) {
                alert("비밀번호가 일치하지 않습니다")
                document.f.pw.value = "";
                document.f.pw.focus();
                return false;
              } else if (sign_up_form.pw.value.length < 4 || sign_up_form.pw.value.length > 12) {
                alert("비밀번호를 4~12자까지 입력해주세요.")
                sign_up_form.pw.focus()
                sign_up_form.pw.select()
                return false;
              } else if (sign_up_form.myid.value.length < 4 || sign_up_form.myid.value.length > 12) {
                alert("아이디를 4~12자까지 입력해주세요.");
                sign_up_form.myid.focus();
                sign_up_form.myid.select();
                return false;
              } else {
                alert("회원가입이 되었습니다. 승인을 기다려주세요.");
              }
            }
          </script>
          <input type="reset" value="취소">
        </div>

        <hr class="line"></hr>

      </div>
  </div>
</body>

</html>
