<div class="user">
  <header class="user__header">
    <h1 class="user__title" id="login_info"></h1>
    <% if(code == 401){ %>
    <script>
      document.getElementById("login_info").innerHTML = "아이디와 비밀번호를 다시 한 번 확인해주세요.";
    </script>
    <% } else { %>
    <script>
      document.getElementById("login_info").innerHTML = "Welcome!";
    </script>
    <% } %>
  </header>

  <form class="form" style="border: 2px solid;" method="post" name="form" action="/sign_in/login">
    <div class="form__group">
      <input type="text" placeholder="아이디" class="form__input" name="userid" autofocus/>
    </div>
    <div class="form__group">
      <input type="password" placeholder="비밀번호" class="form__input" name="password" />
    </div>
    <input class="btn" type="button" value="로그인" onclick="button_event();" />

    <script type="text/javascript">
      function button_event() {
        if (form.userid.value == "") {
          document.getElementById("login_info").innerHTML = "아이디를 입력하지 않았습니다.";
          form.userid.focus()
          return false;
        } else if (form.password.value == "") {
          document.getElementById("login_info").innerHTML = "비밀번호를 입력하지 않았습니다.";
          form.password.focus();
          return false;
        }
        form.submit();
      }
    </script>

    <a class="btn" href="/sign_in/find_userid">아이디 찾기</a>
    <a class="btn" href="/sign_in/find_password">비밀번호 찾기</a>
  </form>
</div>
