<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" title="style" />
  <link rel="stylesheet" type="text/css" href="/css/sign.css" title="style" />
  <link rel="stylesheet" type="text/css" href="/css/menu2_sub.css" title="style" />
  <title>전주신상교회</title>
</head>

<body class="fullpage">
  <div class="wrap">
    <% include header.ejs %>
    <%- include(content) %>
  </div>
</body>

</html>
