<div class="wrapper row2">
  <div id="breadcrumb" class="hoc clear">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/menu/4/1">다음세대</a></li>
      <li><a href="/menu/4/3">중고등부</a></li>
    </ul>
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="sidebar one_quarter first">
      <h2>다음세대</h2>
      <nav class="sdb_holder">
        <ul>
          <li><a href="/menu/4/1">유치부</a></li>
          <li><a href="/menu/4/2">어린이부</a></li>
          <li><a href="/menu/4/3">중고등부</a></li>
          <li><a href="/menu/4/4">아름회</a></li>
        </ul>
      </nav>
    </div>
    <div class="content three_quarter">
      <div class="titlebox"></div>
      <h1>중고등부</h1>
      <img class="imgr inspace-5" src="/images/dep_img/3_main.png" alt="">
      <p>하나님께서 주신 은혜속에 감사함으로 나아가며 찬양과 기도로 영적성숙을 이어가는 청소년부입니다</p>
      <img class="imgr inspace-5" src="/images/dep_img/3_img.jpg" alt="">
      <div class="scrollable">
        <table>
          <thead>
            <tr>
              <th>교역자</th>
              <th>부장</th>
              <th>교사 및 임원 명단</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>이승민 목사</td>
              <td>이병배 집사</td>
              <td>교사 : 서경순 서영준 임순택 최일섭 한성경<br>
                학생임원 /<br>
                　회　장: 조시원<br>
                　부회장: 이서영<br>
                　총　무: 박서현</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="clear"></div>
  </main>
</div>
