<div class="wrapper row2">
  <div id="breadcrumb" class="hoc clear">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/menu/5/1">커뮤니티</a></li>
      <li><a href="/menu/5/2">공지사항</a></li>
    </ul>
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="sidebar one_quarter first">
      <h2>커뮤니티</h2>
      <nav class="sdb_holder">
        <ul>
          <li><a href="/menu/5/1">공지사항</a></li>
          <li><a href="/menu/5/2">자유게시판</a></li>
        </ul>
      </nav>
    </div>
    <div class="content three_quarter">
      <div class="titlebox"></div>
      <h1>공지사항</h1>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>121</td>
          <td><a href="read">공지입니다</a></td>
          <td>설아현</td>
          <td>2017-12-15</td>
        </tr>
        <tr>
          <td>120</td>
          <td><a href="read">공지입니다</a></td>
          <td>문예지</td>
          <td>2017-12-15</td>
        </tr>
        <tr>
          <td>119</td>
          <td><a href="read">공지입니다</a></td>
          <td>김영남</td>
          <td>2017-12-14</td>
        </tr>
        <tr>
          <td>118</td>
          <td><a href="read">공지입니다</a></td>
          <td>김영남</td>
          <td>2017-12-14</td>
        </tr>
        <tr>
          <td>117</td>
          <td><a href="read">공지입니다</a></td>
          <td>김영남</td>
          <td>2017-12-14</td>
        </tr>
        </tbody>
      </table>
      <hr/>
      <a href="write" class="btn btn-default pull-right">글쓰기</a>
      <div class="text-center">
        <ul class="pagination">
          <li><a href="#">&laquo; Previous</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">Next &raquo;</a></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </main>
</div>
