<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="The Overflowing church website's main page" />
  <meta name="author" content="unikys@gmail.com" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" title="style" />
  <link rel="stylesheet" type="text/css" href="/css/menu1_sub.css" title="style" />
  <title>전주신상교회</title>
</head>

<body class="fullpage">
  <div class="wrap">
    <% include ../header.ejs %>

      <div class="sub-wrap">
        <% include ./menu1_index.ejs %>

          <div class="sub-content">
            <table class="content-table">
              <tbody>
                <tr>
                  <td height="90" valign="top">
                    <div class="table-title">오시는길</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div id="map"></div>
                    <script>
                      function initMap() {
                        var uluru = {
                          lat: 35.850961,
                          lng: 127.107864
                        };
                        var map = new google.maps.Map(document.getElementById('map'), {
                          zoom: 17,
                          center: uluru
                        });
                        var marker = new google.maps.Marker({
                          position: uluru,
                          map: map
                        });
                      }
                    </script>
                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA32M0W7UwMaTVewf7_aKzJmhqyLfQe2eE&callback=initMap">
                    </script>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="info">
                      주소 : 54883 전주시 덕진구 추천4길 23 (팔복동 2가)<br> 전화 : 063-211-4651<br> 팩스 : 063-211-7318
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      <!--sub-wrap end-->
  </div>
  <!--wrap end-->
</body>

</html>
