<div class="wrapper row2">
  <div id="breadcrumb" class="hoc clear">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/menu/2/1">예배</a></li>
      <li><a href="/menu/2/1">신상TV</a></li>
    </ul>
  </div>
</div>

<div class="wrapper row3">
  <main class="hoc container clear">

    <div class="sidebar one_quarter first">
      <h2>예배</h2>
      <nav class="sdb_holder">
        <ul>
          <li><a href="/menu/2/1">신상TV</a></li>
          <li><a href="/menu/2/2">찬양대</a></li>
        </ul>
      </nav>
    </div>

    <%- include(innerContent) %>

  </main>
</div>
