<div class="wrapper row2">
  <div id="breadcrumb" class="hoc clear">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/menu/2/1">예배</a></li>
      <li><a href="/menu/2/2">찬양대</a></li>
    </ul>
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="sidebar one_quarter first">
      <h2>예배</h2>
      <nav class="sdb_holder">
        <ul>
          <li><a href="/menu/2/1">신상TV</a></li>
          <li><a href="/menu/2/2">찬양대</a></li>
        </ul>
      </nav>
    </div>
    <div class="content three_quarter">
      <div class="titlebox"></div>
      <h1>찬양대</h1>
      <div class="group btmspace-30">
        <article class="one_half first btmspace-15"><img class="btmspace-15" src="/images/group_img/hallelujah.png" alt="">
          <div class="subbox"></div>
          <span style="font-size:12px;">할렐루야 찬양대는 본예배때 찬양을 드립니다.
            지휘는 김태운 집사님, 반주는 김주연 자매님께서 섬겨주고 계십니다</span>
        </article>
        <article class="one_half btmspace-15"><img class="btmspace-15" src="/images/group_img/gloria.png" alt="">
          <div class="subbox"></div>
          <span style="font-size:12px;">글로리아 찬양대는 수요예배때 찬양을 드리고 여신도회로 조직되어 있습니다.
            지휘는 김도자 권사님, 반주는 김치연 집사님께서 섬겨주고 계십니다</span>
        </article>
      </div>
      <div class="group btmspace-30">
        <article class="one_half first btmspace-15"><img class="btmspace-15" src="/images/group_img/gabriel.png" alt="">
          <div class="subbox"></div>
          <span style="font-size:12px;">모든 단원이 교사로 조직되어 있고 1부 예배 때 찬양을 드립니다.
            지휘는 한성경 집사님, 반주는 김주연 자매님, 이윤희 집사님께서 섬겨주고 계십니다</span>
        </article>
        <article class="one_half btmspace-15"><img class="btmspace-15" src="/images/group_img/benesda.png" alt="">
          <div class="subbox"></div>
          <span style="font-size:12px;">베네스다 남성 중창팀입니다</span>
        </article>
      </div>
      <div class="group btmspace-30">
        <article class="one_half first btmspace-15"><img class="btmspace-15" src="/images/group_img/orchestra.png" alt="">
          <div class="subbox"></div>
          <span style="font-size:12px;">본예배때 봉사해주시는 관현악단입니다</span>
        </article>
        <article class="one_half btmspace-15"><img class="btmspace-15" src="/images/group_img/yehyang.png" alt="">
          <div class="subbox"></div>
          <span style="font-size:12px;">신상교회의 꽃, 몸찬양팀 예향입니다</span>
        </article>
      </div>
    </div>
</div>
<div class="clear"></div>
</main>
</div>
