<div class="wrapper row2">
  <div id="breadcrumb" class="hoc clear">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/menu/3/1">선교</a></li>
      <li><a href="/menu/3/1">해외선교</a></li>
    </ul>
  </div>
</div>

<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="sidebar one_quarter first">
      <h2>선교</h2>
      <nav class="sdb_holder">
        <ul>
          <li><a href="/menu/3/1">해외선교</a></li>
          <li><a href="/menu/3/2">국내선교</a></li>
        </ul>
      </nav>
    </div>

    <%- include(innerContent) %>

    <div class="clear"></div>
  </main>
</div>
