<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="The Overflowing church website's main page" />
  <meta name="author" content="unikys@gmail.com" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" title="style" />
  <link rel="stylesheet" type="text/css" href="/css/menu1_sub.css" title="style" />
  <title>전주신상교회</title>
</head>

<body class="fullpage">
  <div class="wrap">
    <% include ../header.ejs %>

    <div class="sub-wrap">
      <% include ./menu3_index.ejs %>

      <div class="sub-content">
        <table class="content-table">
          <tbody>
            <tr>
              <td height="90" valign="top">
                <div class="table-title">해외선교</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>
