<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="The Overflowing church website's main page" />
  <meta name="author" content="unikys@gmail.com" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" title="style" />
  <link rel="stylesheet" type="text/css" href="/css/menu1_sub.css" title="style" />
  <title>전주신상교회</title>
</head>

<body class="fullpage">
  <div class="wrap">
    <% include ../header.ejs %>

      <div class="sub-wrap">
        <% include ./menu1_index.ejs %>

          <div class="sub-content">
            <table class="content-table">
              <tbody>
                <tr>
                  <td height="90" valign="top">
                    <div class="table-title">섬기는분들</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h3>담임목사</h3>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="person_img" src="/people_img/person1.png" />
                  </td>
                  <td>
                    <h4>박용호 목사</h4>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h3>원로장로</h3>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="person_img" src="/people_img/person2.png" />
                  </td>
                  <td>
                    <h4>허일권 장로</h4>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="person_img" src="/people_img/person3.png" />
                  </td>
                  <td>
                    <h4>박근철 장로</h4>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="person_img" src="/people_img/person4.png" />
                  </td>
                  <td>
                    <h4>임병근 장로</h4>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h3>시무장로</h3>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="person_img" src="/people_img/person5.png" />
                  </td>
                  <td>
                    <h4>신효균 장로</h4>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="person_img" src="/people_img/person6.png" />
                  </td>
                  <td>
                    <h4>오내곤 장로</h4>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img class="person_img" src="/people_img/person7.png" />
                  </td>
                  <td>
                    <h4>김기선 장로</h4>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      <!--sub-wrap end-->
  </div>
  <!--wrap end-->
</body>

</html>
