<div class="wrapper row2">
  <div id="breadcrumb" class="hoc clear">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/menu/4/1">다음세대</a></li>
      <li><a href="/menu/4/1">유치부</a></li>
    </ul>
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="sidebar one_quarter first">
      <h2>다음세대</h2>
      <nav class="sdb_holder">
        <ul>
          <li><a href="/menu/4/1">유치부</a></li>
          <li><a href="/menu/4/2">어린이부</a></li>
          <li><a href="/menu/4/3">중고등부</a></li>
          <li><a href="/menu/4/4">아름회</a></li>
        </ul>
      </nav>
    </div>
    <div class="content three_quarter">
      <div class="titlebox"></div>
      <h1>유치부</h1>
      <img class="imgr inspace-5" src="/images/dep_img/1_main.png" alt="">
      <p>신상교회 유치부는 하나님을 사랑하고 하나님을 따르는 작은 천사들의 모임입니다</p>
      <img class="imgr inspace-5" src="/images/dep_img/1_img.jpg" alt="">
      <div class="scrollable">
        <table>
          <thead>
            <tr>
              <th>교역자</th>
              <th>부장</th>
              <th>교사</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>이승민 목사</td>
              <td>이유정 집사</td>
              <td>고옥자 양인숙 이정희 진민욱 최수정</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="clear"></div>
  </main>
</div>
