<div class="fl_left titlebox"></div>
<h1>게시글 제목</h1>
<div id="comments">
  <ul>
    <li class="read w10 fl">제목</li>
    <li class="read_con">제목여러가지</li>
    <li class="read w5 fl">작성자</li>
    <li class="read_con">김영남</li>
  </ul>
  <ul>
    <li class="read_nl fl">내용</li>
    <li class="read_nl_con">블라블라블라블라브랍릅ㄹ라브라븗</li>
  </ul>

  <div class="bo_ser">
    <ul>
      <li><a href="menu5_sub2.html" class="btn btn-default pull-right" style="background-color:#A1C6D9; color:black;">목록으로</a></li>
      <li><a href="#" class="btn btn-default pull-right" style="background-color:#A1C6D9; color:black;">수정</a></li>
      <li><a href="#" class="btn btn-default pull-right" style="background-color:#A1C6D9; color:black;">삭제</a></li>
    </ul>
  </div>
</div>
