<div class="wrapper row3">
  <main class="hoc container clear">

    <div class="sidebar one_quarter first">
      <h2><%= board %></h2>
      <nav class="sdb_holder">
        <%- include("menu" + req.params.menu + "_index") %>
      </nav>
    </div>

    <div class="content three_quarter">
      <h1><%= board %> 글쓰기</h1>
      <div id="comments">
        <h2 style="font-size:11px;">예쁜 말씀 전해주세요</h2>
        <form action="write" method="post">
          <div class="one_third" style="margin-left:0;">
            <label for="text">제목</label>
            <input type="text" name="title" id="text" value="" size="22">
          </div>
          <div class="block clear">
            <label for="content">내용</label>
            <textarea name="content" id="content" cols="25" rows="10"></textarea>
          </div>
          <div class="filebox preview-image" style="background-color:white;">
            <input type="file" id="input-file" class="upload-hidden">
          </div>
          <div>
            <input type="submit" name="submit" value="제출"> &nbsp;
            <input type="reset" name="reset" value="취소">
          </div>
        </form>
      </div>
    </div>

    <div class="clear"></div>
  </main>
</div>
